<section>
  <h1>Links:</h1>
	<ul id="links">
		<li class="post">
			<a href="http://www.techparty.org/" target="_blank">珠三角技术沙龙</a>
		</li>
		<li class="post">
			<a href="http://www.ganguo.hk/" target="_blank">红甘果科技 (广州iOS外包)</a>
		</li>
		<li class="post">
			<a href="http://simple-is-better.com/" target="_blank">python4cn</a>
		</li>
		<li class="post">
			<a href="http://www.osxtoy.com/" target="_blank">OSX玩意 / OSXToy</a>
		</li>
		<li class="post">
			<a href="http://www.iostoy.com/" target="_blank">iOS玩意 / iOSToy</a>
		</li>
		<li class="post">
			<a href="http://www.idevtoy.com/" target="_blank">iDev玩意 / iDevToy</a>
		</li>
		<li class="post">
			<a href="http://www.cngump.com/" target="_blank">老甘的可读区</a>
		</li>

	</ul>
</section>

